body{
    overflow-x: hidden !important;
}
.wraper-products{
    display: flex;
    row-gap: 20px;
    column-gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.Link{
    text-decoration: none;
}
.item-product{
    cursor: pointer;
    overflow: hidden;
    background-color: #EFEFEF;
}
.item-product:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.item-product:hover  .sale-product{
    display: block;
}
.des-product{
    height: 50px;
    overflow: hidden;
}
.coin-product{
    color: green;
}
.star-product{
    color:#F7A92F;
}
.buy-btn-product{
    background-color: #00A459 ;
    border: none;
}
.buy-btn-product:hover{
    background-color: #4E2295 ;
}
.image-product{
    width: 150px;
    height: 200px;
    display: flex;
}
.sale-product,.heart-product {
    position: absolute;
    top: 12%;
    right:10px;
    font-size: 15px;
    background-color: #00A459;
    width: 60px;
    height: 40px;
    border-radius: 20px;
    color: #ffffff;
    display: flex; 
    align-items: center;
    justify-content: center;
    transform: translateX(calc(100% + 10px));
    transition: 0.2s linear;
}
.heart-product{
    top: 22%;
    font-size: 20px;
    background-color: #4E2295;
    color: #fff;
}
.theme-heart{
    color: #EA284E;
}

.item-product:hover .sale-product {
    display: flex; 
    transform: translateX(0);
}
.item-product:hover .heart-product {
    display: flex; 
    transform: translateX(0);
}
.cart-btn-product{
    background-color: #4E2295;
    border: none;
    margin-left: 20px;
}
.fa-spinner{
    font-size: 15px;
    animation: rotateSpin 2s linear  infinite;
}
.name-product{
    width: 100%;
    margin-bottom: 30px;
    height: 30px;
}

@keyframes rotateSpin {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}