.custom-Cart{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 40px;
    font-size: 18px;
}

.custom-SL-Cart{
    margin-top: 15px;
}
.fa-minus,
.fa-plus{
    cursor: pointer;
    color: #00A459;
}
.main-total-cart{
    margin-top: 40px;
    justify-content: space-around;
}
.total-cart{
    font-weight: 600; 
    margin-right: 205px;
    font-size: 25px;
    margin-left: 10px;
    color: #00A459;
}
.freeShip-cart{
    width: 100%;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #4E2295;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-decoration: none;
    display: flex;align-items: center;justify-content: center;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}


.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.fa-truck-fast{
    margin-left: 6px;
    color: #00A459;
}
.zero-cart{
    display: flex;justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}