.container-bestSelling{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.wrapper-bestSelling{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.title-bestSelling{
    margin: 40px 0;
}
.item-selling{
    width: 250px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.item-selling:hover{
    border: 1px solid green;
}
.content-selling-pr{
    margin-left: 20px;
    line-height: 1;
}

.name-selling-pr{
    font-weight: 500;
}
.star-selling-pr{
    color: #F7A92F;
}
.coin-selling-pr{
    color: green;
}
.sale-selling-pr{
    color: red;
}